# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyd
*.pyo
*.egg-info/
.pytest_cache/

# Distribution / packaging
.Python
build/
dist/
eggs/
*.egg
parts/
sdist/
var/
wheels/
*.whl
*.mo
*.pot
*.log
*.sqlite3
*.db

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
.Trashes
ehthumbs.db
Thumbs.db

# FastAPI specific
.mypy_cache/
